@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Digital-7';
  src: url(./fonts/digital-7.ttf) format('truetype');
}

html {
  color: rgb(229 231 235);
  background-color: #000c18;
  height: 100%;
  padding: 0 5px;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.manta {
  width: 40px;
  height: auto;
  vertical-align: middle;
}

.skylogo {
  width: 200px;
}

.map-1 {
  background: rgb(255, 205, 178);
  background: linear-gradient(
      180deg,
      rgba(255, 205, 178, 0.1) 0%,
      rgba(255, 180, 162, 0.25) 25%,
      rgba(229, 152, 155, 0.5) 50%,
      rgba(181, 131, 141, 0.75) 75%,
      rgba(109, 104, 117, 1) 100%
    ),
    url(./assets/images/map-card-bg/Map1-Isle.jpg);
  /* url(./assets/images/bg/Map1-Isle.jpg); */
  height: 514px;
  background-size: cover;
  color: rgb(8 47 73);
}

.map-2 {
  background: rgb(34, 87, 122);
  background: linear-gradient(
      0deg,
      rgba(34, 87, 122, 1) 0%,
      rgba(56, 163, 165, 0.75) 25%,
      rgba(87, 204, 153, 0.5) 50%,
      rgba(128, 237, 153, 0.25) 75%,
      rgba(199, 249, 204, 0.1) 100%
    ),
    url(./assets/images/map-card-bg/Map2-Prairie.jpg);
  /* url(./assets/images/bg/Map2-Prairie.jpg); */
  height: 514px;
  background-size: cover;
  color: rgb(8 47 73);
}

.map-3 {
  background: rgb(219, 227, 229);
  background: linear-gradient(
      180deg,
      rgba(219, 227, 229, 0.1) 0%,
      rgba(101, 160, 178, 0.25) 25%,
      rgba(46, 100, 128, 0.5) 50%,
      rgba(24, 55, 73, 0.75) 75%,
      rgba(14, 25, 31, 1) 100%
    ),
    url(./assets/images/map-card-bg/Map3-Forest.jpg);
  /* url(./assets/images/bg/Map3-Forest.jpg); */
  color: rgb(8 47 73);
  height: 514px;
  background-size: cover;
}

.map-4 {
  background: rgb(67, 35, 113);
  background: linear-gradient(
      0deg,
      rgba(67, 35, 113, 1) 0%,
      rgba(113, 70, 116, 0.75) 23%,
      rgba(159, 105, 118, 0.5) 50%,
      rgba(204, 139, 121, 0.25) 75%,
      rgba(250, 174, 123, 0.1) 100%
    ),
    url(./assets/images/map-card-bg/Map4-Valley.jpg);
  /* url(./assets/images/bg/Map4-Valley.jpg); */
  color: rgb(8 47 73);
  height: 514px;
  background-size: cover;
}

.map-5 {
  background: rgb(19, 42, 19);
  background: linear-gradient(
      0deg,
      rgba(19, 42, 19, 1) 0%,
      rgba(49, 87, 44, 0.75) 25%,
      rgba(79, 119, 45, 0.5) 50%,
      rgba(144, 169, 85, 0.25) 75%,
      rgba(236, 243, 158, 0.1) 100%
    ),
    url(./assets/images/map-card-bg/Map5-Wasteland.jpg);
  /* url(./assets/images/bg/Map5-Wasteland.jpg); */
  color: rgb(8 47 73);
  height: 514px;
  background-size: cover;
}

.map-6 {
  background: rgb(120, 192, 224);
  background: linear-gradient(
      180deg,
      rgba(120, 192, 224, 0.1) 0%,
      rgba(68, 157, 209, 0.25) 25%,
      rgba(25, 43, 194, 0.5) 50%,
      rgba(21, 5, 120, 0.75) 75%,
      rgba(14, 14, 82, 1) 100%
    ),
    url(./assets/images/map-card-bg/Map6-Vault.jpg);
  /* url(./assets/images/bg/Map6-Vault.jpg); */
  color: rgb(8 47 73);
  height: 514px;
  background-size: cover;
}

.map-7 {
  background: rgb(183, 9, 76);
  background: linear-gradient(
      0deg,
      rgba(183, 9, 76, 1) 0%,
      rgba(160, 26, 88, 1) 12%,
      rgba(137, 43, 100, 0.75) 25%,
      rgba(114, 60, 112, 0.75) 38%,
      rgba(92, 77, 125, 0.75) 52%,
      rgba(69, 94, 137, 0.75) 63%,
      rgba(46, 111, 149, 0.75) 74%,
      rgba(23, 128, 161, 0.37) 87%,
      rgba(0, 145, 173, 0.3) 100%
    ),
    url(./assets/images/map-card-bg/Map7-Eden.jpg);
  /* url(./assets/images/bg/Map7-Eden.jpg); */
  color: rgb(8 47 73);
  height: 514px;
  background-size: cover;
}
.map-8 {
  background: rgb(34, 87, 122);
  background: linear-gradient(
      0deg,
      rgba(34, 87, 122, 1) 0%,
      rgba(56, 163, 165, 0.75) 25%,
      rgba(87, 204, 153, 0.5) 50%,
      rgba(128, 237, 153, 0.25) 75%,
      rgba(199, 249, 204, 0.1) 100%
    ),
    url(./assets/images/map-card-bg/Map8-Peaks.jpg);
  /* url(./assets/images/bg/Map8-Peaks.jpg); */
  color: rgb(8 47 73);
  height: 514px;
  background-size: cover;
}
/* 
.icon-hover:hover {
  filter: drop-shadow(0 0 8mm #ff0000aa);
}

.icon-hover {
  will-change: filter;
  transition: filter 300ms;
}

a {
  text-decoration: none;
  color: rgb(19, 144, 175);
}

.p-button:hover {
  filter: drop-shadow(0 0 2mm #ff6600);
} */
.carousel-image {
  height: 35rem;
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .map-1,
  .map-2,
  .map-3,
  .map-4,
  .map-5,
  .map-6,
  .map-7,
  .map-8,
  .map-9 {
    height: auto;
  }
  .carousel-image {
    height: 20rem;
    width: 100%;
  }
}
/* .pageIsle {
  background-image: url(https://drive.google.com/uc?export=view&id=1y3HqjBpHhOnuosoGM0umnDqm1pJp4FDC);
  background-repeat: repeat-y;
  background-attachment: fixed;
  background-size: contain;
  background-color: #242a32;
  background-blend-mode: overlay;
} */
/* Here lies design for countdown timer */
/* Here lies design for countdown timer */

.expired-notice {
  text-align: center;
  padding: 2rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.expired-notice > span {
  font-size: 2.5rem;
  font-weight: bold;
  color: red;
}

.expired-notice > p {
  font-size: 1.5rem;
}

.show-counter {
  padding: 0.5rem;
}

.show-counter .countdown-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 0.5rem;
  border: 1px solid #ebebeb;
  border-radius: 0.25rem;
  text-decoration: none;
}

.show-counter .countdown {
  line-height: 1.25rem;
  padding: 0 0.75rem 0 0.75rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.show-counter .countdown.danger {
  color: #ff0000;
}

.show-counter .countdown > p {
  margin: 0;
}

.show-counter .countdown > span {
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1rem;
}

/* Here lies design for countdown timer */
/* Here lies design for countdown timer */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

.clock {
  margin: 10px;
  border-radius: 10px;
  background: #000c18;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  padding: 20px 20px 5px 20px;
}

.calendar {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 33px;
  padding: 0 10px;
  padding-top: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.countdown {
  font-size: 7rem;
}

.hour {
  flex: 1;
  font-size: 2rem;
  margin: 0;
  padding: 0;
  top: 0;
}

.ampm {
  align-self: flex-end;
  font-size: 2rem;
  display: flex;
  gap: 10px;
  /* margin-bottom: 12rem; */
}

.digital {
  display: inline-block;
  position: relative;
  font-family: 'Digital-7';
}

.digital :first-child {
  width: 100%;
  position: absolute;
  color: #242a32;
}

.digital :last-child {
  position: relative;
  color: rgb(255, 193, 7);
}

.digital p {
  margin: 0;
}

button {
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.fa {
  margin-left: 15px;
  font-size: 1.1rem;
}
/* 
a {
  font-size: 1.1rem;
  text-decoration: none;
} */

.message {
  background: #da9090;
  border: 2px solid rgb(255, 115, 0);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-size: 1.5rem;
  font-family: monospace, Arial, Helvetica, sans-serif;
  text-align: center;
}

@media (max-width: 770px) {
  .calendar,
  .ampm {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }

  .hour {
    font-size: 2rem;
  }

  .clock {
    padding: 1px;
  }

  .countdown {
    font-size: 4rem;
  }
}

.card-header {
  padding-top: 40px;
}

.card-header.mx-4 {
  margin-left: 0 !important;
}

.icon-badge {
  position: absolute;
  top: 1.5rem;
  left: 0;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #0d47a1;
}
