@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* line-height: 1.5;
  font-weight: 400; */
  scroll-behavior: smooth;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
a {
  color: rgb(255, 193, 7);
}
a:hover {
  color: rgb(239, 83, 80);
}
